*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
body{
    min-height: 100vh;
    display: grid;
    grid-template: 
    "header header" 60px
    "left-menu main" 1fr /
    250px 1fr;
    
}
.header.material-symbols-outined{
    font-size: 30px;
}

header{
    background-color:white;
    height: 60px;
    grid-area: header;
    grid-template-columns: auto 1fr auto;
    grid-auto-flow: column;
    display: grid;
    align-items: center;
}




main{
    background-color:#f9f9f9;
    grid-area: main;

}

.header-left{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    
}    
.header-main-menu{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto ;
    gap: 10px;
    align-items: center;
    padding: 0.5rem;
}

.header-search-bar input{
    width: 100%;
    height: 30px;
    border: 1px solid grey;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 50px;

}
.header-search-bar{
    display: grid;
    grid-auto-flow: column;
    width: 200%;
    margin-left: 10px;


}
.header-search-bar button{
    width: 50px;
    display: grid;
    place-items: center;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
    margin-right: 100px;
}
 

.header-mic{
    justify-content:center;
    padding-left: 80px;
}
.header-right{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
    justify-content:end;
    padding-left: 200px;
}
.sign-in-button{
   color:  royalblue;
   align-items: center;
   /* width: 50px; */
   /* align-content: center; */
   justify-content: center;
   border: 1px solid royalblue;
} 
.left-menu{
    display: grid;
    grid-area: left-menu;
}
.left-menu-nav{
    padding: 0.5rem 0rem;

}
.left-menu-items{
    list-style: none;
    padding-right: 1rem;
    display: grid;
    gap: 0.3rem;
}
.left-menu-item-link{
    text-decoration: initial;
    color: black;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.5rem;
    padding: 0.2rem 1rem;

}
.left-menu-item-link.home{
    border: 1px solid rgb(246, 238, 238);
    background-color: rgb(235, 228, 228);

}
.paragraph{
    align-items: center;
    padding: 0rem 1.5rem ;
}
.best-of-youtube{
    color: gray;
    align-content: center;
    padding: 0.5rem 1rem ;
}
.header-main{
    display: grid;
    height: 100px;
    background-color:rgb(163, 77, 77);
}
.videos-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5px;
    padding: 5px;
    
}
.youtube-video{
    /* border: 1px solid black; */
    height: 250px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    transition: all 0.2s ;

}
.youtube-video:hover{
    transform: scale(1.10);
}

.youtube-video-thumbnail-container{
    overflow-y: hidden;
}
.youtube-video-thumbnail{
    background: url(harry.webp);
    width: 100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;

}
.youtube-video-text-content{
    display: grid;
    grid-template-columns: 50px 1fr 25px;
    grid-gap: 10px;
    margin-top: 10px;
}
.youtube-video-text-logo >img{
    border-radius: 50%;
    width: 40px;
}
.youtube-video-text-tittle{
    display: grid;
}
.youtube-video-text-tittle h3{
    
    font-size: 15px;  
    line-height: 1.5;

}
.youtube-video-text-tittle>a{
    text-decoration: none;
    color: gray;
    justify-items: center;
    gap: 1rem;
    font-size: 15px;
}
